<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rrr.shakemon">
    <application>
        <activity
            android:name=".ui.ShakemonActivity"
            android:label="@string/pokemon_name"
            android:theme="@style/AppTheme.Transparent">
        </activity>
    </application>

</manifest>